div {
    border: 2px solid;
}

#Principal{
    background-color: rgb(159, 255, 242);
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 800px;
    border-radius: 5%;
}

.General{
    background-color: rgb(255, 195, 195);
    margin: 1%;

}
#Cuerpo_config{
    background-color: rgb(135, 255, 79);
    display: flex;
    direction: row;
    justify-content: space-around;
    height: 2000px;
    padding: 20px;
    overflow: hidden;
}
.contenedores{
    background-color: rgb(255, 255, 255);
    width: 45%;
}
#Encabezado{
    height: 20%;
}
#Pie_de_pagina{
    height: 20%;
}